<html>
<head>
	<meta charset="UTF-8">
	<title>Guest Book</title>
	<link rel="stylesheet" href="library/bootstrap.min.css" >
	<script src="library/popper.min.js" ></script>
	<script src="library/vue.min.js" ></script>
	<script src="library/jquery-3.2.1.min.js" ></script>
	<script src="library/bootstrap.min.js" ></script>
</head>
 <body> 
	<div class="container" id="guestbook">
		<div class="jumbotron">
			<h2>Iot hacklab</h2>
			<h4>Guest book</h4>
		</div>
		<form v-on:submit = "onCreate">
			<div class="form-group">
				<input type="text" class="form-control input-sm" name="author" v-model="author" placeholder="Name">
			</div>
			<div class="form-group">
				<input type="text" class="form-control input-sm" name="text" v-model="text" placeholder="Comment">
			</div>     
			<div class="form-group text-right">   
				<button type="submit" class="btn btn-primary btn-lg">Send</button>
			</div>	  
		</form>
		<div class="comment" v-for="(comment, index) in comments"  >
			<h3>{{toDate(comment.time)}} Name: {{comment.author}}</h3>
			<p>{{comment.text}}</p> 
		</div>	
	<div>    
 </body>
 <script>
 new Vue({
 	el: '#guestbook',
 	data: {
 		value: 'test',
 		text: "",
 		author: "",
 		comments: []
 	},
	// Load list of comments
 	created: function () {
 		this.loadList();
 	},
 	methods: {
		// Convert millis to String
 		toDate: function (millis) {
 			return new Date(millis).toString();
 		},
		// Load one comment
 		loadEntry: function (name) {
 			$.ajax({
 				context: this,
 				type: "GET",
 				dataType: 'json',
 				url: "http://www.iot.com/entry?file=" + name.substring(9, 22),
 				success: function (result) {
					// Add comment to list
 					this.comments.push(result);
 				}
 			});
 		},
		// Load list of comments
 		loadList: function () {
 			$.ajax({
 				context: this,
 				type: "GET",
 				dataType: 'json',
 				url: "http://www.iot.com/list",
 				success: function (result) {
 					console.log(result);
					// Reorder list
 					result.reverse();
					// Clear old comments
 					this.comments = [];
					// Load comment every half second. This gives nice effect to UI, and limits stress to Esp8266
 					for (var i = 0; i < result.length; i++) {
 						setTimeout(this.loadEntry, i * 500, result[i].name);
 					}
 				}
 			});
 		},
		// Send new comment to server
 		onCreate: function (e) {
 			e.preventDefault()
 			$.ajax({
 				context: this,
 				type: "POST",
 				dataType: 'json',
 				contentType: 'application/json; charset=UTF-8', // This is the money shot
 				data: JSON.stringify({
 					author: this.author,
 					text: this.text,
 					time: new Date().getTime()
 				}),
 				url: "http://www.iot.com/entry?time=" + new Date().getTime() 
 			}).done(function (result) {
					// Clear form
 					this.author = '';
 					this.text = '';
					// Reload list
 					this.loadList();
 				}).fail(function(err){
					console.log(err);
					// Clear Form
 					this.author = '';
 					this.text = '';
					// Reload list
 					this.loadList();
				});
 		}
 	}
 });            
 </script>
 </html>
